.container-3 {
  width: 75%;
  text-align: center;
  margin: 40px auto;
  padding-top: 50px;
}

ul {
  text-align: left;
}

.title {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.flex-box-container-3 {
  display: flex;
  margin: 75px 0 0 0;
  justify-content: space-around;
}

.before_img {
  height: 40%;
  width: 30%;
}

.flex-box-container-3 img:hover {
  box-shadow: 0px 5px 30px rgb(58, 196, 255);
}

.after_img {
  height: 33%;
  width: 120px;
}

@media only screen and (min-width: 600px) {
  .after_img {
    height: 33%;
    width: 120px;
  }
}

@media only screen and (min-width: 992px) {
  .after_img {
    height: 45%;
    width: 50%;
  }
}
